body {
    font-family: Arial, sans-serif;
    background-color: #1f0e06;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 1000px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #000;
    margin-top: 100px;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.container input[type=text], .container input[type=password], .container input[type=email], .container input[type=tel] {
    width: calc(100% - 32px); 
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.container button {
    background-color: #ffa101;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container button:hover {
    opacity: 0.8;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}
