body{
    background-color: blanchedalmond; 
}

header, footer {
    background-color: #1f0e06; 
    padding: 10px;
    text-align: center;
    opacity: 1.0;
}

h1 {
    font-family: "Splash", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px; 
    color: white;
    opacity: 1;
}

h3{
    text-align: center;  
}

p{ 
    text-align: center;  
}

footer p {
    font-size: 18px; 
    color: white;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: rgba(243, 207, 144, 0.715);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #000;
    margin: 100px auto; /* Center the container */
}

.container label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px; 
    color: black;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container input[type=text], .container input[type=password] {
    width: calc(100% - 32px); /* Adjusted width */
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.container button {
    background-color: #ffa101;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container button:hover {
    opacity: 0.8;
}

.container h2 {
    text-align: center;
    font-family: "Sail", system-ui;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 35px;
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    margin-bottom: 20px;
}
